# Configurações do Ambiente de Desenvolvimento
APP_ENV=False

# Configurações do Banco de Dados MySQL
DATABASE_URL=mysql+pymysql://root:root@localhost:3306/vaibrasil

# Configurações da Aplicação
SECRET_KEY=sua_chave_secreta_aqui_para_jwt

# Configurações do Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

